
@using WebBanHang.Models;
@model IEnumerable<Quyen>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
    //Khởi tạo control webGrid
    WebGrid grid = new WebGrid(source: Model, rowsPerPage: 5);
}

<div style="padding: 10px;">
    <a href="@Url.Content("~/Quyen/TaoMoi")" class="btn btn-success">Thêm mới quyền</a>

</div>
@*Thể hiện dữ liệu thông qua control webGrid *@
@grid.GetHtml(
tableStyle: "gridTable",
headerStyle: "gridHear",
footerStyle: "gridFooter",
rowStyle: "gridRow",
alternatingRowStyle: "gridAltRow",
columns: grid.Columns(
   grid.Column("MaQuyen", "Mã quyền"),
   grid.Column("TenQuyen", "Tên quyền"),
   grid.Column(format: p => @Html.ActionLink("Chỉnh sửa", "ChinhSua", new { id = p.MaQuyen })),
   grid.Column(format: p => @Html.ActionLink("Xóa", "Xoa", new { id = p.MaQuyen }))
   )
   )
<style>
    .gridTable {
        width: 100%;
        border: 1px solid #999999;
    }

        .gridTable td {
        }

    .gridHear {
        background-color: forestgreen;
    }

        .gridHear > th > a {
            color: #fff;
        }

    .gridFooter {
        font-weight: bold;
    }

    .gridRow {
        padding: 10px;
        border: 1px solid #999999;
    }

    .gridAltRow {
        padding: 10px;
        border: 1px solid #999999;
    }
</style>

<style>
    .charts {
        display: none;
    }

    .widget-shadow {
        display: none;
    }
</style>



