USE [QuanLyBanHangOnl]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 19/06/2021 3:11:19 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[CompanyID] [int] IDENTITY(1,1) NOT NULL,
	[TenCongTy] [nvarchar](max) NULL,
	[diachi] [nvarchar](max) NULL,
	[SDT] [nchar](10) NULL,
	[NgayCapNhat] [date] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Company] PRIMARY KEY CLUSTERED 
(
	[CompanyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Customer]    Script Date: 19/06/2021 3:11:19 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](max) NULL,
	[userID] [int] NULL,
	[SoDienThoai] [nchar](10) NULL,
	[DiaChi] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChiTietDonDangHang]    Script Date: 19/06/2021 3:11:19 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonDangHang](
	[MaChiTietPN] [int] IDENTITY(1,1) NOT NULL,
	[MaPN] [int] NULL,
	[ProductID] [int] NULL,
	[DonGiaNhap] [decimal](18, 0) NULL,
	[SoLuongNhap] [int] NULL,
 CONSTRAINT [PK_ChiTietDonDangHang] PRIMARY KEY CLUSTERED 
(
	[MaChiTietPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GroupProduct]    Script Date: 19/06/2021 3:11:19 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupProduct](
	[GroupProductID] [int] IDENTITY(1,1) NOT NULL,
	[TenDanhMuc] [nvarchar](max) NULL,
	[Pic] [nvarchar](max) NULL,
	[Status] [bit] NULL,
	[NgayCapNhat] [date] NULL,
 CONSTRAINT [PK_GroupProduct] PRIMARY KEY CLUSTERED 
(
	[GroupProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LoaiTV_Quyen]    Script Date: 19/06/2021 3:11:19 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiTV_Quyen](
	[MaQuyen] [nvarchar](50) NOT NULL,
	[MaLoaiTV] [int] NOT NULL,
	[GhiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_LoaiTV_Quyen] PRIMARY KEY CLUSTERED 
(
	[MaQuyen] ASC,
	[MaLoaiTV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LoaiThanhVien]    Script Date: 19/06/2021 3:11:19 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiThanhVien](
	[MaLoaiTV] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiTV] [nvarchar](max) NULL,
	[UuDai] [decimal](18, 0) NULL,
 CONSTRAINT [PK_LoaiThanhVien] PRIMARY KEY CLUSTERED 
(
	[MaLoaiTV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Order]    Script Date: 19/06/2021 3:11:19 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NULL,
	[NgayDat] [datetime] NULL,
	[TinhTrangGiaoHang] [bit] NULL,
	[NgayGiao] [datetime] NULL,
	[DaThanhToan] [bit] NULL,
	[DaHuy] [bit] NULL,
	[DaXoa] [bit] NULL,
	[Daduyet] [bit] NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 19/06/2021 3:11:19 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[OrderDetailID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[soLuong] [int] NULL,
	[Gia] [decimal](18, 0) NULL,
	[ProductName] [nvarchar](max) NULL,
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhieuNhapHang]    Script Date: 19/06/2021 3:11:19 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhapHang](
	[MaPN] [int] IDENTITY(1,1) NOT NULL,
	[CompanyID] [int] NULL,
	[NgayNhap] [datetime] NULL,
	[DaXoa] [bit] NULL,
 CONSTRAINT [PK_PhieuNhapHang] PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Quyen]    Script Date: 19/06/2021 3:11:19 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quyen](
	[MaQuyen] [nvarchar](50) NOT NULL,
	[TenQuyen] [nvarchar](max) NULL,
 CONSTRAINT [PK_Quyen] PRIMARY KEY CLUSTERED 
(
	[MaQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 19/06/2021 3:11:19 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](max) NULL,
	[SoLuongTon] [int] NULL,
	[Anh] [nvarchar](max) NULL,
	[GroupProductID] [int] NULL,
	[CompanyID] [int] NULL,
	[Mota] [nvarchar](max) NULL,
	[Status] [bit] NULL,
	[Price] [decimal](18, 0) NULL,
	[NgayCapNhat] [datetime] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 19/06/2021 3:11:19 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[userID] [int] IDENTITY(1,1) NOT NULL,
	[passWord] [nvarchar](max) NULL,
	[Phone] [nchar](10) NULL,
	[Address] [nvarchar](max) NULL,
	[email] [nvarchar](max) NULL,
	[HoTen] [nvarchar](max) NULL,
	[MaLoaiTV] [int] NULL,
	[ResetPassWordCode] [nvarchar](100) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Company] ON 

INSERT [dbo].[Company] ([CompanyID], [TenCongTy], [diachi], [SDT], [NgayCapNhat], [Status]) VALUES (1, N'Tường Vi', N'449. Lê Văn Việt, TP.THủ Đức', N'0123456778', CAST(N'2021-06-01' AS Date), 0)
INSERT [dbo].[Company] ([CompanyID], [TenCongTy], [diachi], [SDT], [NgayCapNhat], [Status]) VALUES (2, N'NamVang', N'quận 9', N'0121906248', CAST(N'2021-06-01' AS Date), 0)
INSERT [dbo].[Company] ([CompanyID], [TenCongTy], [diachi], [SDT], [NgayCapNhat], [Status]) VALUES (1002, N'Công ty TINH Một Thành Viên Tường Vi', N'Đồng Tháp', N'0799062488', CAST(N'2021-06-01' AS Date), 0)
SET IDENTITY_INSERT [dbo].[Company] OFF
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([CustomerID], [HoTen], [userID], [SoDienThoai], [DiaChi], [Email]) VALUES (1, N'a', 3, N'0799062477', N'Lê Văn Viêt, Q9', N'a123334@gmail.com')
INSERT [dbo].[Customer] ([CustomerID], [HoTen], [userID], [SoDienThoai], [DiaChi], [Email]) VALUES (2, N'a', 3, N'0799062477', N'Lê Văn Viêt, Q9', N'a123334@gmail.com')
INSERT [dbo].[Customer] ([CustomerID], [HoTen], [userID], [SoDienThoai], [DiaChi], [Email]) VALUES (3, N'a', 3, N'0799062477', N'Lê Văn Viêt, Q9', N'a123334@gmail.com')
SET IDENTITY_INSERT [dbo].[Customer] OFF
SET IDENTITY_INSERT [dbo].[ChiTietDonDangHang] ON 

INSERT [dbo].[ChiTietDonDangHang] ([MaChiTietPN], [MaPN], [ProductID], [DonGiaNhap], [SoLuongNhap]) VALUES (1, 2, 2, CAST(20000 AS Decimal(18, 0)), 20)
INSERT [dbo].[ChiTietDonDangHang] ([MaChiTietPN], [MaPN], [ProductID], [DonGiaNhap], [SoLuongNhap]) VALUES (2, 2, 1014, CAST(20000 AS Decimal(18, 0)), 10)
INSERT [dbo].[ChiTietDonDangHang] ([MaChiTietPN], [MaPN], [ProductID], [DonGiaNhap], [SoLuongNhap]) VALUES (3, 2, 2, CAST(20000 AS Decimal(18, 0)), 10)
SET IDENTITY_INSERT [dbo].[ChiTietDonDangHang] OFF
SET IDENTITY_INSERT [dbo].[GroupProduct] ON 

INSERT [dbo].[GroupProduct] ([GroupProductID], [TenDanhMuc], [Pic], [Status], [NgayCapNhat]) VALUES (1, N'Cafe', N'1.png', 0, CAST(N'2020-06-01' AS Date))
INSERT [dbo].[GroupProduct] ([GroupProductID], [TenDanhMuc], [Pic], [Status], [NgayCapNhat]) VALUES (2, N'Ăn sáng', N'ansang.jpg', 0, CAST(N'2020-06-01' AS Date))
INSERT [dbo].[GroupProduct] ([GroupProductID], [TenDanhMuc], [Pic], [Status], [NgayCapNhat]) VALUES (3, N'Ăn trưa', N'antrua.jpg', 0, CAST(N'2020-06-01' AS Date))
SET IDENTITY_INSERT [dbo].[GroupProduct] OFF
INSERT [dbo].[LoaiTV_Quyen] ([MaQuyen], [MaLoaiTV], [GhiChu]) VALUES (N'KhachHang', 3, NULL)
INSERT [dbo].[LoaiTV_Quyen] ([MaQuyen], [MaLoaiTV], [GhiChu]) VALUES (N'QuanLyDanhMucSanPham', 2, NULL)
INSERT [dbo].[LoaiTV_Quyen] ([MaQuyen], [MaLoaiTV], [GhiChu]) VALUES (N'QuanlyPhieuNhap', 2, NULL)
SET IDENTITY_INSERT [dbo].[LoaiThanhVien] ON 

INSERT [dbo].[LoaiThanhVien] ([MaLoaiTV], [TenLoaiTV], [UuDai]) VALUES (1, N'Admin', CAST(0 AS Decimal(18, 0)))
INSERT [dbo].[LoaiThanhVien] ([MaLoaiTV], [TenLoaiTV], [UuDai]) VALUES (2, N'Member', CAST(0 AS Decimal(18, 0)))
INSERT [dbo].[LoaiThanhVien] ([MaLoaiTV], [TenLoaiTV], [UuDai]) VALUES (3, N'Customer', CAST(20 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[LoaiThanhVien] OFF
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([OrderID], [CustomerID], [NgayDat], [TinhTrangGiaoHang], [NgayGiao], [DaThanhToan], [DaHuy], [DaXoa], [Daduyet]) VALUES (14, 3, CAST(N'2021-05-29 14:56:33.340' AS DateTime), 1, NULL, 1, 0, 0, 0)
INSERT [dbo].[Order] ([OrderID], [CustomerID], [NgayDat], [TinhTrangGiaoHang], [NgayGiao], [DaThanhToan], [DaHuy], [DaXoa], [Daduyet]) VALUES (23, 5, CAST(N'2021-05-29 21:26:42.683' AS DateTime), 1, NULL, 1, 0, 0, 0)
INSERT [dbo].[Order] ([OrderID], [CustomerID], [NgayDat], [TinhTrangGiaoHang], [NgayGiao], [DaThanhToan], [DaHuy], [DaXoa], [Daduyet]) VALUES (32, 3, CAST(N'2021-05-30 15:56:24.583' AS DateTime), 0, NULL, 0, 0, 0, 0)
SET IDENTITY_INSERT [dbo].[Order] OFF
SET IDENTITY_INSERT [dbo].[OrderDetail] ON 

INSERT [dbo].[OrderDetail] ([OrderDetailID], [OrderID], [ProductID], [soLuong], [Gia], [ProductName]) VALUES (8, 14, 4, 1, CAST(30000 AS Decimal(18, 0)), N'Hủ tiếu')
INSERT [dbo].[OrderDetail] ([OrderDetailID], [OrderID], [ProductID], [soLuong], [Gia], [ProductName]) VALUES (17, 23, 2, 1, CAST(25000 AS Decimal(18, 0)), N'TS trân châu đường đen')
INSERT [dbo].[OrderDetail] ([OrderDetailID], [OrderID], [ProductID], [soLuong], [Gia], [ProductName]) VALUES (27, 32, 2, 1, CAST(25000 AS Decimal(18, 0)), N'TS trân châu đường đen')
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
SET IDENTITY_INSERT [dbo].[PhieuNhapHang] ON 

INSERT [dbo].[PhieuNhapHang] ([MaPN], [CompanyID], [NgayNhap], [DaXoa]) VALUES (1, 2, CAST(N'2021-03-06 00:00:00.000' AS DateTime), 0)
INSERT [dbo].[PhieuNhapHang] ([MaPN], [CompanyID], [NgayNhap], [DaXoa]) VALUES (2, 2, CAST(N'2021-02-06 00:00:00.000' AS DateTime), 0)
INSERT [dbo].[PhieuNhapHang] ([MaPN], [CompanyID], [NgayNhap], [DaXoa]) VALUES (3, 1002, CAST(N'2021-09-06 00:00:00.000' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[PhieuNhapHang] OFF
INSERT [dbo].[Quyen] ([MaQuyen], [TenQuyen]) VALUES (N'KhachHang', N'Khách hàng')
INSERT [dbo].[Quyen] ([MaQuyen], [TenQuyen]) VALUES (N'QuanLyDanhMucSanPham', N'Quản lý danh mục sản phẩm')
INSERT [dbo].[Quyen] ([MaQuyen], [TenQuyen]) VALUES (N'QuanLyDonHang', N'Quản lý đơn hàng')
SET IDENTITY_INSERT [dbo].[SanPham] ON 

INSERT [dbo].[SanPham] ([ProductID], [ProductName], [SoLuongTon], [Anh], [GroupProductID], [CompanyID], [Mota], [Status], [Price], [NgayCapNhat]) VALUES (2, N'TS trân châu đường đen', 92, N'trasuachanchauduongden.jpg', 1, 1, N'Ngọt', 0, CAST(25000 AS Decimal(18, 0)), CAST(N'2021-06-03 20:42:20.093' AS DateTime))
SET IDENTITY_INSERT [dbo].[SanPham] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([userID], [passWord], [Phone], [Address], [email], [HoTen], [MaLoaiTV], [ResetPassWordCode]) VALUES (1, N'e10adc3949ba59abbe56e057f20f883e', N'0799062488', N'Đồng Tháp', N'CoffeeCafe2600@gmail.com', N'Lê Thị Tường Vi', 1, N'')
INSERT [dbo].[Users] ([userID], [passWord], [Phone], [Address], [email], [HoTen], [MaLoaiTV], [ResetPassWordCode]) VALUES (2, N'e10adc3949ba59abbe56e057f20f883e', N'0799880624', N'Lê Văn Việt, quận 9, TP.Thủ Đức', N'nguyenvana@gmail.com', N'Nguyễn Va', 2, NULL)
INSERT [dbo].[Users] ([userID], [passWord], [Phone], [Address], [email], [HoTen], [MaLoaiTV], [ResetPassWordCode]) VALUES (3, N'202cb962ac59075b964b07152d234b70', N'0762488990', N'sad', N'a123334@gmail.com', N'a', 3, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Users1] FOREIGN KEY([userID])
REFERENCES [dbo].[Users] ([userID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_Users1]
GO
ALTER TABLE [dbo].[ChiTietDonDangHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonDangHang_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[SanPham] ([ProductID])
GO
ALTER TABLE [dbo].[ChiTietDonDangHang] CHECK CONSTRAINT [FK_ChiTietDonDangHang_Product]
GO
ALTER TABLE [dbo].[ChiTietDonDangHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonDangHang_PhieuNhapHang] FOREIGN KEY([MaPN])
REFERENCES [dbo].[PhieuNhapHang] ([MaPN])
GO
ALTER TABLE [dbo].[ChiTietDonDangHang] CHECK CONSTRAINT [FK_ChiTietDonDangHang_PhieuNhapHang]
GO
ALTER TABLE [dbo].[LoaiTV_Quyen]  WITH CHECK ADD  CONSTRAINT [FK_LoaiTV_Quyen_LoaiThanhVien] FOREIGN KEY([MaLoaiTV])
REFERENCES [dbo].[LoaiThanhVien] ([MaLoaiTV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LoaiTV_Quyen] CHECK CONSTRAINT [FK_LoaiTV_Quyen_LoaiThanhVien]
GO
ALTER TABLE [dbo].[LoaiTV_Quyen]  WITH CHECK ADD  CONSTRAINT [FK_LoaiTV_Quyen_Quyen] FOREIGN KEY([MaQuyen])
REFERENCES [dbo].[Quyen] ([MaQuyen])
GO
ALTER TABLE [dbo].[LoaiTV_Quyen] CHECK CONSTRAINT [FK_LoaiTV_Quyen_Quyen]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Customer]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Order]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[SanPham] ([ProductID])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Product]
GO
ALTER TABLE [dbo].[PhieuNhapHang]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhapHang_Company] FOREIGN KEY([CompanyID])
REFERENCES [dbo].[Company] ([CompanyID])
GO
ALTER TABLE [dbo].[PhieuNhapHang] CHECK CONSTRAINT [FK_PhieuNhapHang_Company]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_Product_Company1] FOREIGN KEY([CompanyID])
REFERENCES [dbo].[Company] ([CompanyID])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_Product_Company1]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_Product_GroupProduct1] FOREIGN KEY([GroupProductID])
REFERENCES [dbo].[GroupProduct] ([GroupProductID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_Product_GroupProduct1]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_LoaiThanhVien] FOREIGN KEY([MaLoaiTV])
REFERENCES [dbo].[LoaiThanhVien] ([MaLoaiTV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_LoaiThanhVien]
GO
/****** Object:  StoredProcedure [dbo].[Account_login]    Script Date: 19/06/2021 3:11:19 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Account_login]
 @userName nvarchar(max),
 @passWord nvarchar(max)
 as
 begin
 declare @count int
 declare @res bit
 select @count = COUNT(*) from Users where userName = @userName and passWord = @passWord
 if @count> 0
	set @res = 1
	else
	set @res = 0
	select @res
	end

GO
