
@{
    ViewBag.Title = "CTSP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="w3l-about-breadcrumb">
    <div class="breadcrumb-bg breadcrumb-bg-about py-5">
        <div class="container py-lg-4 py-md-3">
            <h2 class="title">Cách chế biến sản phẩm</h2>
        </div>
    </div>
</section>
<section class="w3l-servicesblock py-5" id="about">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="row">
            <div class="col-lg-4 mt-lg-0 mt-5">
                <img src="~/Content/images/about.jpg" alt="" class="img-fluid radius-image">
            </div>
            <div class="col-lg-8 about-right-faq align-self">
                <span class="title-small mb-2"></span>
                <h3 class="title-big mx-0"> What we're all about</h3>
                <p class="mt-lg-4 mt-3">
                    We have 25+ years of experience."Our only Aim, Happy Customers. At the end of the day, it all comes down to coffee. But to get there it takes a
                    dedicated, knowledgeable team with a sustainable approach.
                    We make the delicious coffee for the coffee lovers. We are a team of dedicated
                    coffee fans who celebrate exceptional coffee brands. We provide a variety of services both to our new and regular customers.
                    All your favourites, delivered straight to you.
                </p>
                <a class="btn btn-style btn-primary mt-lg-5 mt-4" href="~/Home/About"> Learn More about us</a>
            </div>

        </div>
    </div>
    <div class="container py-lg-5 py-md-4 py-2">
        <p class="mt-lg-4 mt-3">
            We have 25+ years of experience."Our only Aim, Happy Customers. At the end of the day, it all comes down to coffee. But to get there it takes a
            dedicated, knowledgeable team with a sustainable approach.
            We make the delicious coffee for the coffee lovers. We are a team of dedicated
            coffee fans who celebrate exceptional coffee brands. We provide a variety of services both to our new and regular customers.
            All your favourites, delivered straight to you.
        </p>
    </div>
</section>
@*<section>
        <div class="load-cach-lam">
            <div class="load-trai">
                <div class="load-hinh-anh">
                    <img src="~/Content/images/banhbeo.jpg" class="hinh-anh"/>
                </div>
            </div>
            <div class="load-phai">
                <div class="canh-giua-vb">
                    QWQEEWQ
                </div>
            </div>
        </div>
    </section>

    <style>
        .load-cach-lam{
            width:100%;
            height:100%;
        }
            .load-cach-lam .load-trai {
                width: 50%;
                float: left;
                text-align: center;
            }
        .load-phai {
            width: 50%;
            float: left;
            text-align: center;
        }
        .load-hinh-anh{
            width:320px;
            height:320px;
        }
        .hinh-anh {
            width: 300px;
            height: 300px;
        }
    </style>*@