
@{
    ViewBag.Title = "DN";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section jsFooter{
    <script src="~/Content/js/controller/cartController.js"></script>
}

    <section class="w3l-about-breadcrumb">
        <div class="breadcrumb-bg breadcrumb-bg-about py-5">
            <div class="container py-lg-4 py-md-3">
                <h2 class="title">Your favourite Drink and Food</h2>
            </div>
        </div>
    </section>
    <div class="container">
        <input type="submit" id="btnDangNhap" class="btn btn-success" value="Đăng nhập" />
        <div class="row justify-content-center">

            <div class="col-md-6 col-lg-4" style=" background-image: url(../../images/login.jpg);" id="popup_login">
                <div class="login-wrap p-0">
                    <div class="form-group" style="width:10%; float:right; padding-bottom:5px;" id="close">
                        <input type="submit" class="form-control btn btn-primary submit px-3" value="x" />
                    </div>
                    <h3 class="mb-4 text-center">Login</h3>
                    @using (Html.BeginForm("DangNhap", "Home"))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, null, new { @class = "signin-form" })
                        <div class="form-group">
                            <input type="text" class="form-control" name="txtUserName" placeholder="Tài khoản" required>

                            @*@Html.TextBoxFor(model => model.userName, new { @class = "form-control", @placeholder = "Username", @required = "required", @name = "txtUserName" })*@

                        </div>
                        <div class="form-group">
                            <input id="password-field" type="password" name="txtPassWord" class="form-control" placeholder="Mật khẩu" required>
                            <span toggle="#password-field"></span>
                            @*@Html.PasswordFor(model => model.passWord, new { @class = "form-control", @name = "txtPassWord", @placeholder = "PassWord", @id = "password-field", @required = "required" })
                <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>*@
                        </div>

                        <div class="form-group">
                            <button type="submit" class="form-control btn btn-primary submit px-3">Đăng nhập</button>
                        </div>

                        <div class="form-group d-md-flex">
                            <div class="w-50">
                                <label class="checkbox-wrap checkbox-primary">

                                </label>
                            </div>
                            <div class="w-50 text-md-right">
                                <a href="~/Home/ForGotPassWord" style="color: #666;">Quên mật khẩu?</a>
                            </div>
                        </div>
                    }
                    <p class="w-100 text-center">&mdash; Hoặc &mdash;</p>
                    <div class="form-group" style="width:70%; margin:auto; padding-bottom:5px;">
                        <a href="~/Home/Add_Account" class="form-control btn btn-primary submit px-3">Đăng kí</a>
                    </div>
                    @*<div class="social d-flex text-center" style="width: 100%;height: 50px;text-align: center;">
            <a href="~/Home/Add_Account" class="px-2 py-2 mr-md-1 rounded">Create New Account</a>

        </div>*@
                </div>
            </div>
        </div>
    </div>

    <style>
        #popup_login {
            position: fixed;
            top: 100px;
            background-color: rgba(0,0,0,0.5);
            z-index: 99;
            display:none;
        }
    </style>
