
@{
    ViewBag.Title = "ForGotPassWord";
    Layout = "~/Views/Shared/LoginStart.cshtml";
}

<section class="ftco-section">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
               
                <div class="login-wrap p-0">

                    <h3 class="mb-4 text-center">QUÊN MẬT KHẨU</h3>
                    @using (Html.BeginForm("ForGotPassWord", "Home"))
                    {
                     <div class="text-success">
                         @ViewBag.ms
                     </div>
                        <div class="form-group">
                            @Html.TextBox("email", "", new { @class = "form-control", @placeholder = "Email", @required = "" })
                            
                        </div>
                        <div class="form-group d-md-flex">
                            
                            <div class="w-50 text-md-right">
                                <input type="submit" class="form-control btn btn-primary submit px-3" value="Tiếp tục"/>
                            </div>
                        </div>
                   
                    }
                    <p class="w-100 text-center">&mdash; Hoặc &mdash;</p>
                    <div class="social d-flex text-center">
                        <a href="~/Home/login" class="px-2 py-2 mr-md-1 rounded">Thoát</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

