
@{
    ViewBag.Title = "ForGotPassWord";
    Layout = "~/Views/Shared/LoginStart.cshtml";
}

<section class="ftco-section">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="login-wrap p-0">
                    <h3 class="mb-4 text-center">FORGOT PASSWORD</h3>
                    <form action="#" class="signin-form">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Phone Number" required>
                        </div>
                        @*<div class="form-group">
                            <input id="password-field" type="password" class="form-control" placeholder="Password" required>
                            <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                        </div>
                        <div class="form-group">
                            <input id="password-field" type="password" class="form-control" placeholder="Password" required>
                            <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                        </div>*@
                        @*<div class="form-group">
                            <button type="submit" class="form-control btn btn-primary submit px-3">Next</button>
                        </div>*@
                        
                        <div class="form-group d-md-flex">
                            
                            <div class="w-50 text-md-right">
                                <button type="submit" class="form-control btn btn-primary submit px-3">Next</button>
                            </div>
                        </div>
                    </form>
                    <p class="w-100 text-center">&mdash; Or &mdash;</p>
                    <div class="social d-flex text-center">
                        <a href="~/Home/login" class="px-2 py-2 mr-md-1 rounded">Cancel</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

