@using WebBanHang.Models;
@model LoginModel
@{
    ViewBag.Title = "login";
    Layout = "~/Views/Shared/LoginStart.cshtml";
}

<section class="ftco-section">
    <div class="container">
        
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="login-wrap p-0">
                    <h3 class="mb-4 text-center">Login</h3>
                    @using (Ajax.BeginForm("DangNhap", "Home", new AjaxOptions
                    {
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "ThongBao"
                    }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, null, new { @class = "signin-form" })
                        <div class="form-group">
                            <input type="text" class="form-control" name="txtUserName" placeholder="Username" required>

                            @*@Html.TextBoxFor(model => model.userName, new { @class = "form-control", @placeholder = "Username", @required = "required", @name = "txtUserName" })*@

                        </div>
                        <div class="form-group">
                            <input id="password-field" type="password" name="txtPassWord" class="form-control" placeholder="Password" required>
                            <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                            @*@Html.PasswordFor(model => model.passWord, new { @class = "form-control", @name = "txtPassWord", @placeholder = "PassWord", @id = "password-field", @required = "required" })
                <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>*@
                        </div>

                        <div class="form-group">
                            <button type="submit" class="form-control btn btn-primary submit px-3">Sign In</button>
                        </div>
                        <h4 id="ThongBao" style="color:red;"></h4>
                        <div class="form-group d-md-flex">
                            <div class="w-50">
                                <label class="checkbox-wrap checkbox-primary">
                                    <a href="~/Home/index" style="color: #fff">Cancel</a>
                                </label>
                            </div>
                            <div class="w-50 text-md-right">
                                <a href="~/Home/ForGotPassWord" style="color: #fff">Forgot Password</a>
                            </div>
                        </div>
                    }
                    <p class="w-100 text-center">&mdash; Or &mdash;</p>
                    <div class="social d-flex text-center">
                        <a href="~/Home/Add_Account" class="px-2 py-2 mr-md-1 rounded">Create New Account</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

