
@{
    ViewBag.Title = "LoiPhanQuyen";
    Layout = "~/Views/Shared/_cart.cshtml";
}

<div style="width:100%;">
    <div style="width:50%; margin-top:200px;margin-left:300px;">
        <h2 >Xin lỗi, bạn không đủ quyền để truy cập vào trang web này! Vui lòng bấm vào đây <a href="~/Home/index" style="color:red;">Thoát</a> để thoát khỏi trang web này!!!</h2>
        <br />
        <h3>Coffe Cafe cám ơn bạn đã tin tưởng và sử dụng trang web của chúng tôi!</h3>
    </div>
</div>
