<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html>
<head>
    <title>Carting Order Widget Flat Responsive Widget Template :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="Carting Order Widget Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script type="applijewelleryion/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="~/Content/Cart/css/style.css" rel="stylesheet" type="text/css" media="all">
    <link href='//fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="~/Content/Cart/js/jquery-1.11.1.min.js"></script>
    <script>
$(document).ready(function(c) {
	$('.alert-close1').on('click', function(c){
		$('.line2').fadeOut('slow', function(c){
	  		$('.line2').remove();
		});
	});
});
    </script>
    <script>
$(document).ready(function(c) {
	$('.alert-close2').on('click', function(c){
		$('.line3').fadeOut('slow', function(c){
	  		$('.line3').remove();
		});
	});
});
    </script>
    <script>
$(document).ready(function(c) {
    $('.alert-close3').on('click', function (c) {

        $('.line4').fadeOut('slow', function (c) {
            $('.line4').remove();
		});
	});
});
    </script>
    
</head>

<body>
    @RenderBody();
</body>
</html>

