@using WebBanHang.Models;
@{
    ViewBag.Title = "Breakfast";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}
@{ IEnumerable<Product> lsBreakfast = (IEnumerable<Product>)ViewBag.ListAS;
}
<section class="w3l-about-breadcrumb">
    <div class="breadcrumb-bg breadcrumb-bg-about py-5">
        <div class="container py-lg-4 py-md-3">
            <h2 class="title">Your favourite Drink and Food</h2>
        </div>
    </div>
</section>

@Html.Partial("ProductPartial", lsBreakfast)

