@using WebBanHang.Models;
@{
    ViewBag.Title = "Product1";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}
@{ IEnumerable<Product> lsPRoduct = (IEnumerable<Product>)ViewBag.ListSP;
    IEnumerable<GroupProduct> ls = (IEnumerable<GroupProduct>)ViewBag.listGroup;}


<section class="w3l-about-breadcrumb">
    <div class="breadcrumb-bg breadcrumb-bg-about py-5">
        <div class="container py-lg-4 py-md-3">
            <h2 class="title">Your favourite Drink and Food</h2>
        </div>
    </div>
</section>
<section class="team py-5" id="team">
    <div class="container py-lg-5 py-md-4 py-2">
        @Html.Partial("GroupProduct", ls)
        @Html.Partial("ProductPartial", lsPRoduct)
    </div>
    </section>



