@using WebBanHang.Models;
@model IEnumerable<GroupProduct>

<ul class="nav nav-pills" id="pills-tab1" role="tablist">
    @foreach (var item in Model)
    {
        <li class="nav-item">
            <a class="nav-link active" id="pills-team1-tab" href="~/Product/ProductPartial/@item.GroupProductID" role="tab" aria-selected="true">
                <img src=@Url.Content("~/Content/images/"+item.GroupProductPic) class="aimg-fluid" alt="" /><h4 class="groupProduct">@item.GroupProductName</h4>
            </a>

        </li>
    }
</ul>
