@using WebBanHang.Models;
@{
    ViewBag.Title = "Lunch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ IEnumerable<Product> lsLunch = (IEnumerable<Product>)ViewBag.ListAT;
}


<section class="w3l-about-breadcrumb">
    <div class="breadcrumb-bg breadcrumb-bg-about py-5">
        <div class="container py-lg-4 py-md-3">
            <h2 class="title">Your favourite Drink and Food</h2>
        </div>
    </div>
</section>

@Html.Partial("ProductPartial", lsLunch)

